
<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto、Jacob Thornton 以及众多 Bootstrap 贡献者">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Album example · Bootstrap v4 中文文档 v4.6</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>



    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
        .jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

    </style>

  </head>
  <body>
    
<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>FakeSpy</strong>
      </a>
    </div>
  </div>
</header>

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <form action="/result/" method="post">
      {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" name="url" placeholder="请输入淘宝、天猫url地址" aria-label="Search">
      <br>
      <button href="#" class="btn btn-primary my-2" type="submit">重新抓取分析</button>
      <button class="btn btn-secondary my-2" style="margin-left:30px" type="reset">清空</button>
      </form>
    </div>
  </section>
  <section class="jumbotron text-center" style="padding-top:0px;width: 1200px;margin: 0px auto;">
     <h1>结果：</h1>
     <p class="lead text-muted">{{resultstr}}<p>
     <div class="row">
        <div class="col-md-6">
          <img src="/static/优点.jpg">
        </div>
        <div class="col-md-6">
          <img src="/static/差评云.jpg">
        </div>
     </div>
  </section>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Top</a>
    </p>
    <p>FakeSpy &copy; is a Taobao Analyse System Base on Django , Python , Bootstrap!</p>
    <p>More about FakeSpy? <a href="/">r Visit the homepage</a> oread our <a href="">getting started guide</a>.</p>
  </div>
</footer>


      
  </body>
</html>
